!gamemode.ini

!dunst/
!dunst/**

!dwm/
!dwm/**

!flameshot
!flameshot/**

!/nvim/
!/nvim/**

!/picom/
!/picom/**

!/slock/
!/slock/**

!/slstatus/
!/slstatus/**

!/st/
!/st/**

!/wallpapers/
!/wallpapers/**
